<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eliot.mask" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Eliot's Mask</name>
    <description>تطبيق إليوت للتحكم بالأدوات الحقيقية</description>
    <author email="eliot@mask.com">Eliot</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <icon src="icon.png" />
</widget>
